/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.columna {
	background-image: url("http://mispicaderos.net/fondo.png");
}

.texto {
	font-family:"Century Gothic",Verdana,Tahoma;
	font-size:13px;
}

.texto11 {
	font-family:"Century Gothic",Verdana,Tahoma;
	font-size:11px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.ver{
	cursor: pointer;
	text-decoration: underline;
	color: #0000CC;
}

.uno{
	background-color: red;	
}

.dos{
	background-color: blue;	
}

.tres{
	background-color: red;	
}

.cuatro{
	background-color: blue;	
}

.cinco{
	background-color: red;	
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
